.carousel {
	position: relative;
	overflow: hidden;
	margin-bottom: 120px;
	width: 85vw;
}

.vignette {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	pointer-events: none;
	background: radial-gradient(circle, rgba(var(--background), 0) 75%, rgba(var(--background), 1) 100%);
}

.title {
	z-index: 3;
	margin-top: 12px;
}

.card {
	width: 300px;
	margin: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.poster {
	height: 400px;
	width: auto;
	transition: transform 0.2s;
}

.poster:hover {
	transform: scale(1.1);
}
